.color-wrapper {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-box {
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
}

li {
    text-align: left;
}

.list-group-item {
    width: 300px;
    border: none;
    text-transform: capitalize;
}

.first-li {
    width: 130px;
}

.color-box {
    padding: 0;
}

.color-box button {
    width: 3vw;
}
