// $darkpink: #d6696b;
// $lighterpink: #ff8a8c;
// $white: #fff;
// $grey: #585858;

$offwhite: #F9F2F0;
$rose: #CC887B;
$roseHover: #a77267;
$pink: #E9D6D2;
$foam: #B8C5CD;
$stone: #76838B;
$gray: #485056;
$corner: 5px;


body {
  background-color: $foam;
  color: $gray;
}

.App {
  margin: 0 auto;
  background-color: $offwhite;
  min-height: 100vh;
  padding-top: 5vh;
}

.headerStartpage {
  margin: 0 auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 50%;
}

.btn-primary {
  background-color: $rose;
  border: 1px solid $rose;
  &:hover, &:active, &:focus {
    background-color: $roseHover;
    border-color: $roseHover;
  }
}

.btn-secondary {
  background-color: transparent;
  border-color: $rose;
  color: $rose;
  &:hover {
    background-color: $roseHover;
    border-color: $roseHover;
  }
}

.btn-link {
  color: $gray;
  text-decoration: none;
  &:hover {
    color: $rose;
  }
}

.loginPage {
  & input, & button {
    margin-bottom: 2vh;
  }
}

.h4-login {
  text-transform: uppercase;
}

.roomName {
  display: inline;
  margin: 0 1%;
  text-transform: capitalize;
}

.projectWrap button {
  margin: 5px 5px 5px 5px;
}

.projectHead {
  width: 90%;
  margin: 5%;
  border: none;
  color: white;
  border-radius: $corner;
  background-color: $rose;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h1 {
    text-transform: capitalize;
  }
  &:hover h1 {
    color: $roseHover;
  }
}

.roomHead {
  width: 90%;
  margin: 5% 5% 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-fluid {
  width: 90%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.krokar {
  cursor: pointer;
}

.colorWrap {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2% 5% 7% 5%;
}

.activeBtn, .notActiveBtn {
  min-width: 100px;
}

.addBtn {
  color: $rose;
  cursor: pointer;
  &:hover {
    color: $roseHover;
  }
}

.btn-close {
  padding: 5px;
  margin-bottom: 15px;
  position: relative;
  float: right;
}

.deleteChoiceBtnGroup {
  display: inline;
  & button {
    width: 40%;
  }
}

.deleteChoiceModal {
  & p {
    margin-top: 10%;
  }
}

i {
  font-weight: 100;
  margin-left: 7px;
  cursor: pointer;
}

.h5-modal {
  color: $gray;
}

.modalInput {
  margin: 5px 10px;
}

.allColorsContainer {
  margin: 20px;
}

.allColors {
  display: inline-flex;
}

.smallLogo {
  margin-left: 20px;
}

header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.imgContainer {
  width: 30%;
}

.userInfoContainer {
  // width: 50%;
  display: flex;
  align-items: center;
  & p {
    margin: 0 10px;
  }
}

.colorBlock {
  display: inline-block;
  border-radius: 10px 10px 0px 10px;
  height: 50px;
  width: 50px;
  margin: .5em !important;
  &.btn-secondary {
    border-style: solid;
    border-width: 1px;
  }
}

.projectNav {
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .primary-btn {
//   background-color: $darkpink; 
//   color: $white;
//   border: 1px solid $grey;
//   border-radius: 0px; 
//   margin-bottom: 20px; 
// }

// .primary-btn:hover{
//   background-color: $lighterpink; 
// }

// .white-btn{
//   background-color: $white; 
//   color: $darkpink; 
//   border: 1px solid $grey;
//   border-radius: 0px; 
//   margin-bottom: 10px;
// }

// .white-btn:hover{
//   background-color: $lighterpink; 
// }

// .textBtn{
//   color: $darkpink; 
// }

// .inputfield{
//   height: 40px;
//   border: 1px solid $grey;
//   border-radius: 0px; 
// }

// .logo{
//   max-width: 150px;
// }

// .cont-1{
//   margin-top: 20px; 
// }

// .headerStartpage{
//   margin-top: 20px; 
// }

// .notActiveBtn{
//   background-color: $white; 
//   color: $grey; 
//   border: 1px solid $grey;
//   border-radius: 0px; 
//   margin: 10px;
//   max-height: 40px;
//   margin-left: 10px;
// }

// .activeBtn{
//   background-color: $darkpink; 
//   color: $white; 
//   border: 1px solid $grey;
//   border-radius: 0px; 
//   margin: 10px;
//   max-height: 40px;
//   margin-left: 10px;

// }

// .addBtn{
//   color: $darkpink; 
//   margin: 10px;
// }

// .editBtns {
//   display: inline;
//   margin: 10px;
// }

// .icon{
//   margin-left: 5px;
//   color:$grey;
  
// }
  
// }
// .projects{
//  text-align: left;
//  padding-left: 30px;
// }

// .projectName{
//   line-height: 40px
// }

// h3{
//   color: $grey; 
// }

// h6{
//   color: $grey; 
// }

// p{
//   color: $grey; 
// }

// a:hover{
//   cursor: pointer;
// }

// footer{
//   max-width:400px;
//   position: absolute;
//   bottom: 0;
// }

// .Allcolors{
//   display: inline;
// }